# Backend
PORT=5000
MONGO_URI=replace_with_your_mongodb_uri
JWT_SECRET=replace_with_random_secret
CLIENT_URL=http://localhost:5173

SMTP_EMAIL=replace_with_your_gmail
SMTP_PASSWORD=replace_with_gmail_app_password

CLOUDINARY_CLOUD_NAME=replace_here
CLOUDINARY_API_KEY=replace_here
CLOUDINARY_API_SECRET=replace_here

# Frontend (create frontend/.env)
VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000
