# ----------------------
# Node modules
# ----------------------
node_modules/

# ----------------------
# Environment variables
# ----------------------
.env

# ----------------------
# Logs
# ----------------------
logs
*.log
npm-debug.log*

# ----------------------
# Temp files
# ----------------------
tmp/
temp/

# ----------------------
# Cache
# ----------------------
.cache/

# ----------------------
# Uploads (if any)
# ----------------------
uploads/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# Misc
# ----------------------
*.local
requirements.txt